#{extends 'main.html' /}
#{set title:'Acknowledgement' /}

   <nav class="ui menu">
    <a class="ui item" href="/">Welcome</a>
    <a class="ui item" href="/account">Sign Up</a>
    <a class="ui item" href="/login">Log In</a>
    <a class="ui item" href="/inputdata">Input data</a>
    <a class="ui item" href="/report">Report</a>
    <a class="ui item" href="/contact">Contact</a>
    <a class="ui item" href="/logout">Log Out</a>
  </nav>

  <section class="ui segment">
    <h2>MyRent</h2>
    <h3>Acknowledgement</h3>   
    <p>Thank you for your message. </p>
    <p>We very much appreciate your having taken the time out of your very busy schedule to contact us.</p>
    <p>We will deal with the issues you have raised and advise you of the outcome as soon as possible.</p>        
    <p>With best wishes,</p>
    <p> From the MyRent team</p>
  </section>