#{extends 'main.html' /}
#{set title:'Sign Up' /}

<nav class="ui menu">
   <a class="ui item" href="/">Welcome</a>
   <a class="ui active item" href="/account">Sign Up</a>
   <a class="ui item" href="/login">Log In</a>
   <a class="ui item" href="/inputdata">Input data</a>
   <a class="ui item" href="/report">Report</a>
   <a class="ui item" href="/logout">Log Out</a>
</nav>

<section class="ui segment">
  <h3>Create a MyRent account</h3>
  <h5>Register using a valid email address</h5>
  <form action="/account/register" method="POST">
    <div class="ui two column grid">
    <div class="column">
      <div class="ui fluid form segment">
        <h3 class="ui header">Sign Up</h3>
        <div class="two fields">
          <div class="field">
            <label>First Name</label>
            <input placeholder="First Name" name="user.firstName" type="text">
          </div>
          <div class="field">
            <label>Last Name</label>
            <input placeholder="Last Name" name="user.lastName" type="text">
          </div>
        </div>
        <div class="field">
          <label>Email</label>
          <input placeholder="Email" name="user.email" type="text">
        </div>
        <div class="field">
          <label>Password</label>
          <input type="password" name="user.password">
        </div>
        <div class="inline field">
          <div class="ui checkbox">
            <input id="conditions" type="checkbox">
            <label for="conditions">I agree to the terms and conditions</label>
          </div>
        </div>
        <button type="submit" class="ui blue submit button">Submit</button>
      </div>
    </div>
  </div>
  </form>
</section>