#{extends 'main.html' /}
#{set title:'Log in' /}

<nav class="ui menu">
   <a class="ui item" href="/">Welcome</a>
   <a class="ui item" href="/account">Sign Up</a>
   <a class="ui active item" href="/login">Log In</a>
   <a class="ui item" href="/inputdata">Input data</a>
   <a class="ui item" href="/report">Report</a>
   <a class="ui item" href="/logout">Log Out</a>
</nav>

 <section class="ui segment">
  <h3>Log into your account</h3>
  <h5>Your username is the email you registered with</h5>
  <form action="/login/authenticate" method="POST">
    <div class="ui two column grid">
    <div class="column">
      <div class="ui fluid form segment">
        <h3 class="ui header">Log-in</h3>
        <div class="field">
          <label>Email</label>
          <input placeholder="Email" name="email" type="text">
        </div>
        <div class="field">
          <label>Password</label>
          <input type="password" name="password">
        </div>
        <button type="submit" class="ui blue submit button">Login</button>
      </div>
    </div>
    </div>
  </form>
</section>