#{extends 'main.html' /}
#{set title:'Donation Request' /}

<nav class="ui inverted green menu">
  #{if activePage=='home'} 
    <a class="ui item active" href="/index"></i>Logout</a>
  #{/if} #{else}
    <a class="ui item" href="/index"></i>Logout</a>
  #{/else}
  #{if activePage=='signup'} 
    <a class="ui item active" href="/account"></i>Signup</a>
  #{/if} #{else}
    <a class="ui item" href="/account"></i>Signup</a>
  #{/else}
  #{if activePage=='login'} 
    <a class="ui active item" href="/login"></i>Login </a>
  #{/if} #{else}
    <a class="ui item" href="/login">></i>Login</a>
  #{/else}
</nav>